<button class="body-width centered" (click)="displayForm()">New Thought</button>
<div class="page-cover" [ngClass]="{'hidden': hidden}">
    <div class="inner">
        <div class="container">
            <p class="full-size">Title:</p>
            <input class="full-size" [(ngModel)]="post.title" /><br />
            <p class="full-size">Thought:</p>
            <textarea class="full-size" [(ngModel)]="post.thought" ></textarea><br /><br />
            <button class="full-size" (click)="submit()">Add Post</button>
        </div>
    </div>
</div>