.hidden {
    display: none;
}

.page-cover {
    position: absolute;
    top: 0px;
    width: 80vw;
    height: 100vh;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.inner {
    top: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: inline-block;
    background-color: #B1DDEA;
    height: fit-content;
    width: fit-content;
    text-align: left;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
}


.full-size {
    width: 445px;
}